<ul class="logo-main mt-5">
  <li class="lining d-flex">
    <img src="../../../assets/lining.png" />
    <p class="text-danger">LI-NING</p>
  </li>
  <li class="yonex d-flex">
    <img src="../../../assets/yonex.png" />
    <p class="text-success">YONEX</p>
  </li>
  <li class="victor d-flex">
    <img src="../../../assets/victor.png" />
    <p class="text-primary">VICTOR</p>
  </li>
  <li class="mizuno d-flex">
    <img src="../../../assets/mizuno.png" />
    <p class="color-mizuno">MIZUNO</p>
  </li>
</ul>
