<div class="be-container">
  <div class="modal-create" [hidden]="isOpen">
    <app-be-category-create
      (onClickCloseCreate)="clickCloseModalCreate()"
    ></app-be-category-create>
  </div>
  <div class="modal-create" [hidden]="isOpenDetail">
    <app-be-category-detail
      [idCategory]="id"
      (onClickCloseDetail)="clickCloseModalDetail()"
    ></app-be-category-detail>
  </div>
  <div class="be-nav-bar">
    <h2>BADMINTON</h2>
    <ul>
      <li>Thống kê</li>
      <li (click)="clickProduct()">Sản phẩm</li>
      <li (click)="clickCategory()" class="active">Thể loại</li>
      <li (click)="clickCourt()">Sân cầu</li>
      <li (click)="clickPurchase()">Nhập hàng</li>
      <li (click)="clickSupplier()">Nhà cung cấp</li>
      <li (click)="clickSale()">Giảm giá</li>
      <li (click)="clickOrder()">Đơn hàng</li>
      <li (click)="clickBooking()">Đặt sân</li>
      <li (click)="clickBill()">Tính tiền</li>
      <li (click)="clickUser()">Người dùng</li>
      <li>Đăng xuất</li>
    </ul>
  </div>
  <div class="be-content">
    <app-be-category-content
      (onClickOpenCreate)="clickOpenModalCreate()"
      (onClickOpenDetail)="clickOpenModalDetail($event)"
    ></app-be-category-content>
  </div>
</div>
