<div class="container-login">
  <div class="main-login rounded-3">
    <h1 class="title">REGISTER</h1>
    <div>
      <!-- your email -->
      <div class="col-auto">
        <label for="exampleInputEmail1" class="form-label">Your Email</label>
        <div class="input-group">
          <div class="input-group-text">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </div>
          <input
            #inputElementEmail
            type="text"
            class="form-control"
            placeholder="example@gmail.com"
            (input)="changeInputEmail(inputElementEmail)"
          />
        </div>
      </div>

      <!-- your pass -->
      <div class="col-auto mt-4">
        <label for="exampleInputEmail1" class="form-label">Your Password</label>
        <div class="input-group">
          <div class="input-group-text">
            <fa-icon [icon]="faLock"></fa-icon>
          </div>
          <input
            #inputElementPassword
            type="password"
            class="form-control"
            placeholder="password"
            (input)="changeInputPassword(inputElementPassword)"
          />
        </div>
      </div>

      <!-- your confirm pass -->
      <div class="col-auto mt-4">
        <label for="exampleInputEmail1" class="form-label"
          >Confirm Password</label
        >
        <div class="input-group">
          <div class="input-group-text">
            <fa-icon [icon]="faLock"></fa-icon>
          </div>
          <input
            #inputElementConfirmPassword
            type="password"
            class="form-control"
            placeholder="password"
            (input)="changeInputConfirmPassword(inputElementConfirmPassword)"
          />
        </div>
      </div>

      <!-- remember me -->
      <div class="remember-forget mt-4 color-base">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" />
          <label class="form-check-label" for="autoSizingCheck2">
            I agree to the terms and conditions
          </label>
        </div>
      </div>

      <button
        class="btn btn-primary customer-btn-login mt-4 bgc-base"
        (click)="onClickRegister()"
      >
        Register
      </button>

      <div class="registered mt-4">
        <p>
          Already have an account?
          <a class="link color-base cursor" (click)="clickLoginHere()">
            Login here
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
