<div class="product-create">
  <div class="product-create-header"><h2>Detail product</h2></div>
  <hr />
  <div class="product-create-content">
    <!-- Input -->
    <div class="d-flex justify-content-between">
      <div class="mb-3 input-size">
        <label class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nameValue"
          [disabled]="disabled"
        />
      </div>
      <div class="mb-3 ms-4 input-size">
        <label class="form-label">Category</label>
        <select
          class="form-select"
          [(ngModel)]="categoryId"
          [disabled]="disabled"
        >
          <option selected value="1">Choose...</option>
          <option [value]="category.id" *ngFor="let category of listCategory">
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>
    <!-- Input -->
    <!-- Input -->
    <div class="d-flex justify-content-between">
      <div class="mb-3 input-size">
        <label class="form-label">Price Sale</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="priceValue"
          [disabled]="disabled"
        />
      </div>
      <div class="mb-3 ms-4 input-size">
        <label class="form-label">Size</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="sizeValue"
          [disabled]="disabled"
        />
      </div>
    </div>
    <!-- Input -->
    <!-- Input -->
    <div class="d-flex justify-content-between">
      <div class="mb-3 input-size">
        <label class="form-label">Quantity</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="quantityValue"
          [disabled]="disabled"
        />
      </div>
      <div class="mb-3 ms-4 input-size">
        <label class="form-label">Brand</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="brandValue"
          [disabled]="disabled"
        />
      </div>
    </div>
    <!-- Input -->
    <!-- Input -->
    <div class="d-flex justify-content-between">
      <div class="mb-3 input-size">
        <label class="form-label">Img Link</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="imgLinkValue"
          [disabled]="disabled"
        />
      </div>
      <div class="mb-3 ms-4 input-size">
        <label class="form-label">Unit</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="unitValue"
          [disabled]="disabled"
        />
      </div>
    </div>
    <!-- Input -->
    <!-- Input -->
    <div class="d-flex justify-content-between">
      <div class="mb-3 input-size">
        <label class="form-label">Status</label>
        <select
          class="form-select"
          [(ngModel)]="isStatus"
          [disabled]="disabled"
        >
          <option [value]="1">True</option>
          <option [value]="0">False</option>
        </select>
      </div>
      <div class="mb-3 ms-4 input-size">
        <label class="form-label">Sold Quantity</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="soldQuantity"
          [disabled]="true"
        />
      </div>
    </div>

    <!-- Input -->
  </div>
  <hr />
  <div class="product-create-footer">
    <button
      (click)="onClickCancel()"
      class="cancel-btn btn-customer"
      [hidden]="hiddenBtnDetail"
    >
      Cancel
    </button>
    <button
      (click)="onClickCancelEdit()"
      class="cancel-btn btn-customer"
      [hidden]="hiddenBtnUpdate"
    >
      Cancel Edit
    </button>
    <button
      (click)="onClickDelete()"
      class="delete-btn btn-customer"
      [hidden]="hiddenBtnDetail"
    >
      Delete
    </button>
    <button
      (click)="onClickEdit()"
      class="edit-btn btn-customer"
      [hidden]="hiddenBtnDetail"
    >
      Edit
    </button>
    <button
      (click)="onClickUpdate()"
      class="success-btn btn-customer"
      [hidden]="hiddenBtnUpdate"
    >
      Update
    </button>
  </div>
</div>
