<!-- booking -->
<div class="booking-post mt-4">
  <div class="title-text">
    <a class="cursor">BOOKING</a>
  </div>
  <div class="main-booking mt-5">
    <img
      src="https://www.racquetpoint.com/cdn/shop/articles/what-is-badminton-racquet-point.jpg?v=1654120169"
    />
    <div class="description">
      <p class="title-category">
        Hệ thống sân cầu lông cao cấp. Mặt sân sạch sẽ, không bị dính đất hay
        cát giúp hoạt động di chuyển của vợt thủ diễn ra nhanh chóng và nhịp
        nhàng hơn. Bên cạnh đó, trần nhà cũng được thiết kế cao ráo, giúp không
        khí trong sân chơi luôn dịu mát, tránh cảm giác hầm bí và khó chịu. Chưa
        hết, hệ thống đèn chiếu là một điểm cộng không nhỏ dành cho sân
        Badminton, dù vợt thủ có lựa chọn tập luyện vào sáng sớm hay tối muộn
        thì cũng hoàn toàn có thể yên tâm. Bởi hệ thống đèn chiếu sáng tại sân
        được lắp đặt chuẩn theo quy định nên có thể cung cấp đủ lượng ánh sáng
        cần thiết cho người chơi. Giá thành hợp lý với mọi lứa tuổi. Đặt sân
        nhanh chóng chỉ trong vài phút.
      </p>
      <button>Booking here</button>
    </div>
  </div>
</div>

<!-- contact -->
<div class="contact mt-5">
  <div class="title-text">
    <a class="cursor">LIÊN HỆ</a>
  </div>
  <div class="main-contact mt-5">
    <div class="text-contact">
      <p>Address: TT.Hiệp Phước - Nhơn Trạch - Đồng Nai</p>
      <p>Email: {{ email }}</p>
      <p>Phone number: 19008282 - 0372882222</p>
    </div>
    <div class="mt-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.750521743727!2d106.88616607583778!3d10.676462561027995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175237dc9a2aa5b%3A0xd7bf173f413f4269!2zxJBUMTksIE5oxqFuIFRy4bqhY2gsIMSQ4buTbmcgTmFpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1713935426940!5m2!1svi!2s"
        width="1200"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
