<div class="position-relative">
  <h3>Danh sách sân</h3>
  <!-- table -->
  <table class="table table-hover table-bordered container-table mt-5">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Gold Time 15%</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let court of listCourts">
        <th scope="row">{{ court.name }}</th>
        <th scope="row">{{ court.price | number : "1.0-0" }} vnđ / 1h</th>
        <th scope="row">
          {{ (court.price * 115) / 100 | number : "1.0-0" }} vnđ / 1h
        </th>
        <td>{{ court.isStatus ? "Đang hoạt động" : "Đang bảo trì" }}</td>
        <td>
          <button class="button-detail" (click)="onClickDetail(court.id)">
            Detail
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- table -->
  <div class="mt-3 pagination-center">
    <pagination
      [totalPage]="totalPage"
      (onChangePageNumber)="changePageNumber($event)"
    ></pagination>
  </div>
</div>
