.footer {
  width: 100%;
  height: 300px;
  background-color: #1f2937;
  .main-footer {
    width: 1200px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    .column-footer {
      margin-top: 40px;
      width: 360px;
      color: #fff;
      font-weight: 500;
      letter-spacing: 2px;
      > ul {
        margin-top: 16px;
        > li {
          font-size: 14px;
        }
      }
    }
  }
}
