<footer class="footer">
  <div class="main-footer">
    <div class="column-footer">
      <h5>THÔNG TIN CHUNG</h5>
      <ul>
        <li>
          BADMINTON Sports là hệ thống cửa hàng cầu lông cung cấp sỉ và lẻ các
          mặt hàng dụng cụ cầu lông từ phong trào tới chuyên nghiệp.
        </li>
        <li>
          BADMINTON cam kết mang đến những sản phẩm, dịch vụ chất lượng tốt
          nhất.
        </li>
      </ul>
    </div>
    <div class="column-footer">
      <h5>CHÍNH SÁCH</h5>
      <ul>
        <li>Chính sách đổi trả,hoàn tiền</li>
        <li>Chính sách bảo hành</li>
        <li>Chính sách sử lý khiếu nại</li>
        <li>Chính sách vận chuyển</li>
        <li>Điều khoản sử dụng</li>
        <li>Chính sách bảo mật thông tin</li>
        <li>Chính sách nhượng quyền</li>
      </ul>
    </div>
    <div class="column-footer">
      <h5>HƯỚNG DẪN</h5>
      <ul>
        <li>
          Bảng size Lining - Cách chọn size quần áo lining, giày cầu lông Lining
        </li>
        <li>Hướng dẫn cách chọn vợt cầu lông cho người mới chơi</li>
        <li>Hướng dẫn thanh toán</li>
        <li>Kiểm tra bảo hành</li>
        <li>Kiểm tra đơn hàng</li>
      </ul>
    </div>
  </div>
</footer>
