<app-header></app-header>
<main class="profile-container">
  <ul class="left-profile">
    <li>Hồ sơ cá nhân</li>
    <li>Đổi mật khẩu</li>
    <li>Đơn hàng</li>
    <li>Đăng xuất</li>
  </ul>
  <div class="right-profile">
    <h3>Hồ sơ cá nhân</h3>
    <div class="content">
      <p>User Name:</p>
      <p>Tuanlee</p>
    </div>
    <div class="content">
      <p>Email:</p>
      <p></p>
    </div>
    <div class="content">
      <p>Phone number:</p>
      <p></p>
    </div>
    <div class="content">
      <p>Address:</p>
      <p></p>
    </div>
    <button>Save</button>
  </div>
</main>
<app-footer></app-footer>
